#main.lpShare, .lpList {
    transition: none !important;
}

.lpShare {
    .lpShareHeader {
        align-items: baseline;
        display: flex;
        height: 60px;
        justify-content: stretch;
        margin: 10px -20px 20px;
        position: relative;

        #lpListName {
            flex: 1 0 auto;
            font-size: 24px;
            font-weight: 600;
            margin: 0;
            padding: 12px 15px;
        }

        .headerItem {
            flex: 0 0 auto;
            height: 100%;
            padding: 17px 16px;
            position: relative;
        }
    }

    .lpShareThemeMode {
        flex: 0 0 auto;
    }

    .lpCategoryName {
        font-size: 18px;
        margin: 0;
    }

    .lpItem {
        &:hover {
            background: #fff;
        }

        .lpActionsCell {
            flex-basis: 75px;
        }

        &.lpItemHasImage .lpImageCell {
            padding-right: 5px;
        }
    }

    #lpListDescription {
        margin: 30px 0;
    }
}

.lp[data-theme="dark"] {
    .lpShare .lpItem:hover {
        background: #242424;
    }
}

.lpDialog {
    animation: fadein 0.25s linear 0s 1 forwards;
    opacity: 0;
    background: #F7F7F7;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    left: 50%;
    padding: 35px;
    position: fixed;
    text-align: left;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 350px;
    z-index: 100;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .lpDialog.fadeout {
    animation: fadeout 0.25s linear 0s 1 forwards;
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .lpModalOverlay {
    animation: fadein 0.25s linear 0s 1 forwards;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .lpModalOverlay.fadeout {
    animation: fadeout 0.25s linear 0s 1 forwards;
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
@media only screen and (max-width: 720px) {
    .lpChart {
        display: block;
        height: auto !important;
        margin: 0 auto;
        max-width: 100%;
        width: min(100%, 260px) !important;
    }

    .lpItems {
        position: relative;

        .lpWeightCell {
            flex-basis: 100px;
        }

        .lpPriceCell {
            flex-basis: 65px;
        }

        .lpHeader {
            .lpWeightCell,
            .lpPriceCell,
            .lpQtyCell {
                display: none;
            }
        }

        .lpFooter {
            justify-content: flex-end;

            .lpQtyCell {
                display: none;
            }
        }
    }

    .lpItem {
        align-items: baseline;
        flex-flow: row wrap;
        justify-content: flex-end;
        padding: 3px 0;

        .lpShowImages &.lpItemHasImage {
            min-height: 90px;
            padding-left: 100px;
            position: relative;

            .lpImageCell {
                height: 90px;
                left: 0;
                position: absolute;
                top: 0;
                width: 90px;
            }
        }

        .lpImageCell {
            flex-basis: 0;
        }

        .lpName {
            flex-basis: 90px;
            font-weight: bold;
            order: 2;
        }

        .lpQtyCell {
            flex-basis: auto;
            order: 1;

            &[qty1] {
                display: none;
            }

            &::after {
                content: " x ";
                display: inline;
                margin-right: 5px;
            }
        }

        .lpPriceCell {
            order: 4;
        }

        .lpWeightCell {
            order: 5;
        }

        .lpDescription {
            flex-basis: calc(100% - 50px); /* Always wrap */
            order: 98;
        }

        .lpActionsCell {
            flex: 0 0 auto;
            order: 99;
            padding: 0 10px;
            text-align: right;

            .lpHidden,
            i:not(.lpActive) {
                display: none;
            }
        }
    }

    #lpImageDialog {
        padding: 5px;
        width: 90%;

        img {
            display: block;
            max-width: 100%;
        }
    }

    #lpFooter {
        align-items: center;
        flex-direction: column;
        gap: 6px;
        justify-content: flex-start;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .lpListSummary {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .lpChartContainer {
        max-width: 200px;
    }
}
